section.splash
	.wrapper
		.logo
			svg
				use(xlink:href="#logo")
		.cta
			p We are a leading full-service investor relations firm experienced in building research and goal driven campaigns that deliver value for both our clients and investor network.
			a.btn_cta(href="mailto:info@storyboardcommunications.ca") 
				svg
					use(xlink:href="#mail")
				p get in touch
		footer
			.sec.sec-loc
				span 
					svg
						use(xlink:href="#mark")
					p calgary
				p 1303 Klondike Avenue S.W. Calgary, Alberta, T2V 2L9
			
			.sec.sec-name
				span
					p christopher &#40;chris&#41; legallais
				p M.SC., P.GEOL.<br>CEO
			
			.sec.sec-icon
				a(href="#")
					svg
						use(xlink:href="#linkedin")
